        <!-- Checkout Start -->
        <form action="/users/placeorders" method="post" novalidate onsubmit="placeorders(event)">
            <div class="checkout">
            <div class="container"> 
                <div class="row">
                    <div class="col-md-7">
                        <div class="billing-address">
                            <h2>Shipping Address</h2>
                            <div class="row">
                                {{#each addresses}}
                                <div class="col-md-12">
                                    <div class="payment-method">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="address-{{id}}" name="addressId" value="{{id}}"{{#if isDefault}}checked{{/if}}>
                                        <label class="custom-control-label" for="address-{{id}}"><strong>{{name}}</strong>></label>
                                    </div>
                                    <div class="payment-content" id="address-{{id}}-show">
                                        <p>
                                            Email: {{email}}<br />
                                            Mobile: {{mobile}}<br />
                                            Address: {{address}}, {{city}}<br/>
                                        </p>
                                    </div>
                                    </div>
                                </div>
                                {{/each}}
                                <div class="col-md-12">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="shipto" name="addressId" value="0">
                                        <label class="custom-control-label" for="shipto">Ship to different address</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="shipping-address">
                            <h2>Shipping Address</h2>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Your Name</label>
                                    <input class="form-control" type="text" placeholder="Name" name="name" required>
                                </div>
                                <div class="col-md-6">
                                    <label>E-mail</label>
                                    <input class="form-control" type="text" placeholder="E-mail" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                                </div>
                                <div class="col-md-6">
                                    <label>Phone</label>
                                    <input class="form-control" type="text" placeholder="Mobile No" name="mobile" required>
                                </div>
                                <div class="col-md-12">
                                    <label>Address</label>
                                    <input class="form-control" type="text" placeholder="Address" name="address" required>
                                </div>
                                <div class="col-md-6">
                                    <label>City</label>
                                    <input class="form-control" type="text" placeholder="City" name="city">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        {{#with cart}}
                        <div class="checkout-summary">
                            <h2>Cart Total</h2>
                            <div class="checkout-content">
                                <h3>Products</h3>
                                {{#each items}}
                                <p>{{product.name}} x {{quantity}}<span>${{total}}</span></p>
                                {{/each}}
                                <p class="sub-total">Sub Total<span>${{subtotal}}</span></p>
                                <p class="ship-cost">Shipping Cost<span>${{shipping}}</span></p>
                                <h4>Grand Total<span>${{total}}</span></h4>
                            </div>
                        </div>
                        {{/with}}
                        
                        <div class="checkout-payment">
                            <h2>Payment Methods</h2>
                            <div class="payment-methods">
                                <div class="payment-method">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="payment-1" name="payment" value="PAYPAL">
                                        <label class="custom-control-label" for="payment-1">Paypal</label>
                                    </div>
                                    <div class="payment-content" id="payment-1-show">
                                        <p>
                                        </p>
                                    </div>
                                </div>
                                <div class="payment-method">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="payment-5" name="payment" value="COD" checked>
                                        <label class="custom-control-label" for="payment-5">Cash on Delivery</label>
                                    </div>
                                    <div class="payment-content" id="payment-5-show">
                                        <p>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="checkout-btn">
                                <button>Place Order</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </form>
        <!-- Checkout End -->